<% page_title "Broadway Theatre" %>
<% meta_tag :description, "Together, Broadway Cinema & Theatre and Broadway Studio & Gallery provide a vibrant arts and culture programme for Letchworth." %>

<div class="container" id="venue_info">
	<h2 class="main_heading">Broadway Theatre</h2>

	<div class="row">
		<div class="col-md-7 col-sm-12">
			<p>Address:<br />

				<b>Eastcheap<br />
				Letchworth Garden City<br />
				SG6 3DD</b><br />
				Phone: <b>01462 681088</b></p>

			<h4>Arriving by rail</h4>
			<p>Letchworth Garden City railway station is approximately five minutes' walk away, with journey times from London King's Cross of 30 minutes.</p>

			<h4>Arriving by bus</h4>
			<p>The nearest bus stop to Broadway Cinema is Stop F on Gernon Road. Visit www.intalink.org.uk for timetable details. The services 55, 97, 97A and 99 all stop there regularly.</p>

			<h4>Arriving by car</h4>
			<p>The A1(M) junction 9 is approximately 2 miles from our venues. The Cinema and Theatre postcode is SG6 3DD.</p>

			<h4>Parking</h4>
			<p>A public car park is located over the road, next to the Town Hall, directly opposite the Broadway Cinema and Theatre, with free parking from 6.00pm. The Garden Square multi-storey car park (Rowland Way SG6 3JF) is open until 11.00pm on theatre nights. There's plenty of on-street car parking available nearby too.</p>

			<h4>Hotels</h4>
			<p>The following hotels are close to the Herts Jazz Festival:</p>
			<ul>

			<li>
				<a href="https://www.premierinn.com/gb/en/hotels/england/hertfordshire/letchworth-garden-city/letchworth-garden-city.html" target="_blank">
				Premier Inn
				</a>
			</li>
			<li>
				<a href="https://www.broadwayhotel.co.uk/" target="_blank">
				Broadway Hotel
				</a>
			</li>
			<li>
				<a href="https://www.accorhotels.com/gb/hotel-7243-mercure-letchworth-hall-hotel/index.shtml" target="_blank">
				Letchworth Hall
				</a>
			</li>
		</div>

		<div class="col-md-5 col-sm-12">
			<%= image_tag "broadway-map.jpg", alt: "Broadway map", width: '100%' %>
			<%= image_tag "broadway-photo.jpg", alt: "Broadway", width: '100%', style: 'margin-top: 20px;' %>
		</div>
	</div>
</div>