<% page_title "Rhodes Arts Complex" %>
<% meta_tag :description, "Rhodes Arts Complex provide a vibrant arts and culture programme for Bishops Stortford." %>

<div class="container" id="venue_info">
	<h2 class="main_heading">Rhodes Arts Complex</h2>

	<div class="row">
		<div class="col-md-7 col-sm-12">

			<div class="row mb-3">
				<div class="col-md-9 col-sm-12">
					<p>This year our Festival is hosted by the Rhodes Arts Complex in Bishops Stortford. The Rhodes was a regular venue for British jazz in the 50s and 60s, presenting gigs by Tubby Hayes, Humphrey Lyttleton, Acker Bilk, Chris Barber, Ken Colyer, George Melly and many more. We are proud to be reviving a great tradition.</p>
				</div>

				<div class="col-md-3 col-sm-12">
					<%= image_tag	asset_url('Rhodes_Logo_CMYK.jpg'), alt: 'Rhodes Arts Complex map', style: 'width:100%' %>
				</div>
			</div>

			<p>Address:<br />

				<b>1-3 South Rd<br />
				Bishop's Stortford<br />
				CM23 3JG</b><br />
				Phone: <b>01279 710200</b></p>

			<p>There is some free parking at the venue with additional public car parks at Jackson Square and The Causeway. Bishops Stortford station is just a six-minute walk.</p>

			<h3 class="mt-5 mb-3">Directions</h3>

			<h4>From Rail station</h4>

			<p>Exit main booking hall.<br />
			Turn left and walk across car park in south-westerly direction. Cross the large bridge over the river and walk to the end of the Maltings. Rhodes Arts Complex is across the road on the left.</p>

			<h4>M11 from South</h4>

			<p>Exit junction 8.<br />
			Take 2nd exit on roundabout A120 (signposted Hertford).<br />
			Next roundabout take 1st exit.<br />
			Go over 2 roundabouts, straight on at lights, down hill.<br />
			Turn left on one way system.<br />
			At 2nd set of lights, turn left.<br />
			Rhodes is half a mile down the road on the left.</p>

			<h4>M11 from North</h4>

			<p>Exit junction 8.<br />
				Straight over 2 sets of lights.<br />
				At 3rd set take 2nd exit from roundabout A120 (signposted Hertford).<br />
				Next roundabout take 1st exit.<br />
				Go over 2 roundabouts, straight on at lights, down hill.<br />
				Turn left on one way system.<br />
				At 2nd set of lights, turn left.<br />
				Rhodes is half a mile down the road on the left.</p>

			<h4>From Harlow</h4>

			<p>Burnt Mill roundabout, head North on A1184 through Sawbridgeworth.<br />
				At Spellbrook, take 2nd exit from large roundabout B1183 (signposted Town).<br />
				Straight over 2 sets of lights, over roundabout. After 300 yards, Rhodes is on the right.</p>

			<p class="mt-4">For more information please see <a target="_blank" href="http://rhodesartscomplex.co.uk/">rhodesartscomplex.co.uk</a></p>

			<% if is_tablet? %>
				<h3 class="mt-5 mb-3">Hotels</h3>
				<%= render 'hotels/list' %>
			<% end %>

	</div>

	<div class="col-md-5 col-sm-12">
		<%= image_tag	asset_url('rhodes-map.png'), alt: 'Rhodes Arts Complex map', style: 'width:100%' %>
	</div>
</div>