<% page_title "Broadway Theatre" %>
<% meta_tag :description, "Together, Broadway Cinema & Theatre and Broadway Studio & Gallery provide a vibrant arts and culture programme for Letchworth." %>

<div class="container" id="venue_info">
	<h2 class="main_heading">Rhodes Arts Complex</h2>

	<div class="row">
		<div class="col-md-7 col-sm-12">
			<p>Address:<br />

				<b>1-3 South Rd<br />
				Bishop's Stortford<br />
				CM23 3JG</b><br />
				Phone: <b>01279 710200</b></p>

			<p>More information on the Rhodes Arts Complex is coming soon</p>
	</div>
</div>