<% page_title "Choose a festival from the archive" %>
<% meta_tag :description,  "Choose a festival from the archive" %>

<div class="text-center" id="festival_list">
	<form id="festival-form" action="/festivals" method="get">
		<%= token_tag %>
	  <h1 class="h3 mb-3 font-weight-normal">Choose a festival from the archive</h1>
	  <label for="festival" class="sr-only">Email address</label>
	  <select name="festival" id="festival" class="form-control">
	  	<% @festivals.each do |festival| %>
	  		<option value="<%= festival.id %>"><%= festival.year %></option>
	  	<% end %>
	  </select>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Go ></button>
	</form>
</div>
