body.mobile {
	main {
		margin-top: 18px;
	}

	.mobile_hide {
		display: none;
	}

	.mobile_show {
		display: block;
	}

	form#newsletter-form,
	form#season-form {
		min-height: 67vh;
	}

	header {
		padding: 10px 0;

		#menu_btn {
			margin-top: 13px;
		}

		nav {
			padding-top: 1em;

			.bd-toc-link {
				display: block;
				padding: .35rem 0;
				font-weight: 500;
				color: lighten(#c8ab37, 10%);
			}
		}
	}

	#home {
		img.mobile_show {
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}

		.marketing {
			.item {
				height: initial !important;
				padding-bottom: 46px;
				margin-bottom: 15px;
			}
		}
	}

	.container#films,
	.container#festivals{
		.gig {
			height: initial;

			h5 {
				margin-bottom: 0;
			}

			div.buttons {
				position: static !important;
				width: initial !important;
				margin-bottom: 15px;
			}

			img {
				width: 100%;
			}
		}

		ul#festival_tabs {
			margin-bottom: 15px;
			li {
				font-size: 1em;

				a {
					height: 64px;

					&.single_line {
				    line-height: 2.7em;
					}
				}
			}
		}
	}

	.container#gig {
		#back_to_season {
			display: none;
		}

		#photo_and_desc {
			padding-bottom: 20px;
		}
	}

	footer {
		background: #24292d;
		padding: 17px 15px 15px;
		margin-top: 15px;
		color:

		#info_col {
			padding-right: 0;
		}

		#social_col {
			text-align: right;
			padding: 5px 20px 0 0;

			.nav-link {
				width: 37px;
				display: inline-block;

				&#twitter  {
					color: #6999d0;
				}
			}
		}
	}

	table.table {
		font-size: 0.7em;

		td, th {
			padding: 0.6rem;
		}
	}

	footer {
		#sponsors {
			ul {
				padding: 0;

				li.sponsor {
					&#fazioli {
						width: unset;
					}

					// &#bbcradio3 {
					// 	width: 120px;
					// }

					&#artscouncil {
						width: unset;
					}

					&#cambridge {
						width: unset;
					}

					a {
						display: block;
						width: 100%;

						img {
							width: 100%;
						}
					}
				}
			}
		}
	}

	#default_homepage_content {
		min-height: 40vh;
	}
}
