<p>There are plenty of hotels within a short drive or taxi ride of the festival. Here is a small selection:</p>
<ul>
	<li><b>Jolly Brewers Travelodge</b> - in B Stortford</li>
	<li><b>George Hotel</b> - in B Stortford</li>
	<li><b>Grange Guest House</b> - 0.5 miles</li>
	<li><b>Days Inn by Wyndham</b> - 1.5 miles</li>
	<li><b>Travelodge</b> - 1.5 miles</li>
	<li><b>Ramada by Wyndham</b> - 1.6 miles</li>
	<li><b>Novotel</b> - 2.3 miles</li>
	<li><b>Holiday Inn, Stansted Mountfitchet</b> - 5 miles</li>
	<li><b>Premier Inn, Stansted Mountfitchet</b> - 5 miles</li>
	<li><b>Holiday Inn Express, Harlow</b> - 7 miles</li>
</ul>