<% page_title "Hotels" %>
<% meta_tag :description, "There are plenty of hotels within a short drive or taxi ride of the festival." %>

<div class="container" id="venue_info">
	<h2 class="main_heading">Hotels</h2>

	<div class="">
		<%= render 'hotels/list' %>
	</div>
</div>
