<div class="container" id="club">
	<h2 class="main_heading">Herts Jazz Club</h2>
	<div class="row">

		<div class="col-md-7 col-sm-12">
			<p>Established in 1969, HertsJazz has become renowned as THE venue for jazz fans young and old. Gigs featuring the very best jazz talent in the country take place every Tuesday 7.30-10.00pm at The Maltings Arts Theatre, St Albans.</p>

			<p>The gigs have a very relaxed atmosphere where music is top of the agenda for aficionados and newcomers alike. There is plenty of covered parking for a special rate of £2.50, disabled access and a bar serving beers, wines, soft drinks, hot drinks and snacks.</p>

			<p>Find out more about Herts Jazz Club at <a href="http://www.hertsjazz.co.uk" target="_blank" title="Herts Jazz Club: find out more">www.hertsjazz.co.uk</a>.</p>
		</div>

		<div class="col-md-5 col-sm-12">
			<%= image_tag "club.jpg", alt: "Herts Jazz Club", width: '100%' %>
		</div>
	</div>
</div>