<ul class="dropdown-menu multi-level bg-dark" role="menu" aria-labelledby="dropdown_archive">
  <% list.each do |festival| %>
  	<li>
		  <a class="dropdown-item" href='/festivals/<%= festival.id %>' tabindex="-1">
		  	<%= festival.year %>
		  </a>
		</li>
  <% end %>
</ul>